@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff) format("woff2"),
    url(../fonts/Roboto-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.woff2) format("woff2"),
    url(../fonts/Roboto-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.woff2) format("woff2"),
    url(../fonts/Roboto-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Madurai";
  src: url(../fonts/HindMadurai-Bold.woff) format("woff2"),
    url(../fonts/HindMadurai-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Madurai";
  src: url(../fonts/HindMadurai-Regular.woff2) format("woff2"),
    url(../fonts/HindMadurai-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Madurai";
  src: url(../fonts/HindMadurai-Medium.woff2) format("woff2"),
    url(../fonts/HindMadurai-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fredoka";
  src: url(../fonts/Fredoka-Bold.woff2) format("woff2"),
    url(../fonts/Fredoka-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.site__header {
  padding-bottom: 37px;
  background-color: rgba(242, 206, 218, 0.3);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo_link {
  display: inline-block;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.navbar__item-link {
  color: #150101;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.6;
  transition: all 0.4s;
  &:hover {
    color: #d23166;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 1;
  }
}
.header__link {
  width: 165px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fafafa;
  font-family: "Hind Madurai";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background-color: #d23166;
  transition: all 0.4s;
  &:hover {
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    color: #d23166;
    font-family: "Hind Madurai";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 2px solid #d23166;
    background-color: #fafafa;
  }
}

/* hero section start  */
.hero__section {
  background-color: rgba(242, 206, 218, 0.3);
  position: relative;
  height: 746px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: start;
}
.hero__content {
  width: 665px;
  height: 364px;
  margin-top: 196px;
}
.hero__name {
  color: #0f0101;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-bottom: 6px;
}
/* .hero__title-wrapper{
    width: 700px;
} */
.hero__title {
  max-width: 617px;
  color: #0f0101;
  font-family: "Fredoka";
  font-size: 57.33px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%; /* 69.083px */
  opacity: 0.9;
  margin-bottom: 35px;
}
.hero__title-content {
  opacity: 0.9;
  color: #d23166;
  font-family: "Fredoka";
  font-size: 57.33px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.5%;
}
.hero__text-wrapper {
  width: 532px;
}
.hero__text {
  color: #0f0101;
  font-family: "Hind Madurai";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 50px;
}
.hero__link {
  width: 165px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fafafa;
  font-family: "Hind Madurai";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background-color: #d23166;
  transition: all 0.4s;
  &:hover {
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    color: #d23166;
    font-family: "Hind Madurai";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 2px solid #d23166;
    background-color: #fafafa;
  }
}
.hero__image {
  position: absolute;
  top: 77px;
  bottom: 0;
  right: 38px;
}
/* hero section end  */

/* service section start  */
.service__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 39px;
}
.card {
  text-align: center;
  padding: 26px;
  width: 250px;
  height: 200px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-color: #fff;
  margin: 100px 0;
  &:hover {
    border-radius: 7px;
    background: #fff;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.1);
  }
}
.card__img {
  margin-bottom: 18px;
}
.card__title {
  color: #000;
  font-family: "Hind Madurai";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 9px;
}
.card__text {
  color: #000;
  text-align: center;
  font-family: "Hind Madurai";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* service sectio end  */
/* oatmea__section start  */
.oatmea__section {
  position: relative;
  height: 545px;
  background: #f8edf0;
  margin-bottom: 137px;
}
.oatmea {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.oatmea__content {
  width: 442px;
  margin: 143px 0;
}
.oatmea__title {
  color: #150101;
  font-family: "Hind Madurai";
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%; /* 48.841px */
  margin-bottom: 16px;
}
.oatmea__text {
  color: #150101;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.6;
  margin-bottom: 30px;
}
.oatmea__link {
  width: 165px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fafafa;
  font-family: "Hind Madurai";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background-color: #d23166;
  transition: all 0.4s;
  &:hover {
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    color: #d23166;
    font-family: "Hind Madurai";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 2px solid #d23166;
    background-color: #fafafa;
  }
}
.oatmea__img {
  position: absolute;
  top: -92px;
  bottom: 0;
  right: 313px;
}
/* oatmea__section start  */

/* product section start  */
.product__section {
  padding-bottom: 149px;
}
.product {
  text-align: center;
}
.product__title {
  color: #150101;
  font-family: "Hind Madurai";
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 64px;
}
.option__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.option__item-link {
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
  &:hover {
    color: #000;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 3px solid #d64374;
    opacity: 1;
  }
}
.product__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.product__card:nth-child(even) {
  flex-direction: row-reverse;
}
.card2 {
  margin-bottom: 117px;
}
.product__content {
  text-align: left;
}
.product__inner-title {
  color: #000;
  font-family: "Hind Madurai";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
}
.product__inner-text {
  max-width: 454px;
  color: #000;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.7;
  margin-bottom: 28px;
}
.product__pice-wrapper {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 5px;
  margin-bottom: 16px;
}
.price {
  color: #000;
  font-family: "Hind Madurai";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.del-price {
  color: #000;
  font-family: "Hind Madurai";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
  opacity: 0.7;
}
.product__content-link {
  width: 165px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fafafa;
  font-family: "Hind Madurai";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background-color: #d23166;
  transition: all 0.4s;
  &:hover {
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    color: #d23166;
    font-family: "Hind Madurai";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 2px solid #d23166;
    background-color: #fafafa;
  }
}
.productIntro {
  max-width: 259px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin-bottom: 46px;
}
.productIntro-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.productIntro-title {
  color: #000;
  display: inline;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.productIntro-text {
  color: #000;
  display: inline;
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
  text-transform: uppercase;
}
.product__content-text {
  max-width: 350px;
  color: #000;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 30px;
}
.product__slider {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.Man {
  border-radius: 50%;
}
/* product section end  */

/* Order section start  */
.order__section {
  height: 634px;
  background-color: #f8edf0;
  display: flex;
  align-items: center;
}
.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__title {
  max-width: 621px;
  color: #000;
  font-family: "Roboto";
  font-size: 44.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 29px;
}
.order__text {
  max-width: 607px;
  color: #0f0101;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  opacity: 0.7;
  margin-bottom: 29px;
}
.selector__option {
  display: flex;
  align-self: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 16px;
}
.selector__option-text {
  color: #000;
  font-family: "Roboto";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order__links {
  display: flex;
  align-self: center;
  justify-content: start;
  gap: 7px;
}

/* Order section end */

/* question section start  */
.question {
  margin: 110px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 110px auto; */
}
.question__title {
  max-width: 522px;
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 36px;
}
.question__form {
  display: flex;
  flex-direction: column;
}
.form {
  gap: 30px;
}
.form-data1 {
  /* width: 636px; */
}
.form-data1-inp {
  width: 303px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #ffa3a3;
  background: #fff;
}
.form-data1-inp + .form-data1-inp {
  margin-left: 30px;
}
.form-data1-inp::placeholder {
  color: #0f0000;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  padding-left: 25px;
}
.form-data2-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-data2 {
}
.form-data2-inp {
  width: 509px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #ffa3a3;
  background: #fff;
}
.form-data2-inp::placeholder {
  color: #0f0000;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  padding-left: 25px;
}
.form__button {
  width: 134px;
  height: 74px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  background: #d64374;
  color: #fff;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* question section end  */
/* footer start  */

.site__foter {
  background: #0a0808;
  height: 381px;
  display: flex;
  align-items: center;
}
.foter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foter__following {
}
.folowing {
}
.folowing__logo {
  width: 79px;
  height: 79px;
  flex-shrink: 0;
  background: #0a0808 50% / cover no-repeat;
  margin-bottom: 9px;
}
.folowing__text {
  color: #fff;
  max-width: 207px;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.687%; /* 16.762px */
  letter-spacing: 0.12px;
  margin-bottom: 25px;
  opacity: 0.7;
}
.folowing__follow-us {
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}
.folowing__links {
  gap: 10px;
}
.foter__item-text {
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  /* max-width: 110px;   */
}

.foter__item {
  margin-bottom: 10px;
}
.foter__list {
  /* gap: 10px; */
}
.foter__Newsletter {
  width: 338px;
}
.foter__Newsletter-text {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.foter__Newsletter-form {
  display: flex;
  align-items: center;
}
.foter__Newsletter-inp {
  width: 213px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #d64374;
  background: none;
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 13px 0 15px;
}
.foter__Newsletter-inp::placeholder {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
.foter__Newsletter-btn {
  width: 125px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #d23166;
}
.foter__Newsletter-links {
}
/* footer end  */
